@import "tailwindcss";

@font-face {
   font-family: 'myFont';
   src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
   font-family: myfont2;
   src: url('/fonts/gilroy/Gilroy-Black.ttf');
}


.strokedText{
   -webkit-text-stroke: 1px white;
   transition:all ease 0.5s;
}

.strokedText:hover{
   color: teal;
   -webkit-text-stroke: 0px ;
}

@media (max-width:600px) {
   .strokedText{
   -webkit-text-stroke: 0px rgb(199, 25, 26);
   
}
}
